<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
    <!--<script src="/javascripts/jquery.js">
    </script><script src="/javascripts/app.js"></script>-->
  </head>
  <body>
    <%- partial("_header") %>
    <%- yield %>
    <%- partial("_footer") %>
  </body>
</html>
